.about_all{
  width: 80%;
  margin:  0 auto;
  display:table;
}

.hidari_about{
  display:table-cell;
  width: 30%;
}

.migi_about{
  display:table-cell;
  width: 70%;
}

.profile-picture{
  width: 100%;
}