.box{
    margin: 2%;
    padding: 3%;
    border: 2px solid #2D2525;
    background-color: rgba(0,0,0,0.7);
    color: #CFC7C2;
    border-radius: 10px;
  }

  hr {
    height: 2px;
    background-color: rgba(45,37,37, 1);
    border: none;
}
.bg{
  margin: 0;
  padding: 3% 0 0 0;
  height: 200%;
  width: 100vw;
  z-index: 0;
}
button{
  z-index: 0;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  .bg{
    margin: 0 0 8% 0;
    padding: 10% 0 0 0;
  }
}