.footer_all{
    position: fixed; /* fixed footer */
    bottom: 0; /* fixed to bottom */
    left: 0;
    width: 100vw;
    height: var(--footer-height,48px);
    min-height: 32px;
    background: linear-gradient(180deg, rgba(12,20,36,0.6), rgba(6,8,20,0.8));
    display:flex;
    z-index: 50;
  }


.footer_title{
text-align: center;
width: 100%;
height: 100%;
}
