.footer_all{
    position: fixed; /* ヘッダーを固定する */
    top: 98%; /* 上部から配置の基準位置を決める */
    left: 0; /* 左から配置の基準位置を決める */
    width: 100vw; /* ヘッダーの横幅を指定する */
    height: 2%;
    background: linear-gradient(180deg, rgba(12,20,36,0.6), rgba(6,8,20,0.8));
    display:flex;
    z-index: 50;
  }


.footer_title{
text-align: center;
width: 100%;
height: 100%;
}