  h1, h2 {
    font-weight: normal;
  }
  .hitokoto{
    text-align: center;
  }
  .hello{
    width: 80%;
  
    margin:  0 auto;
    color: black;
  }
  .whatsnew{
    text-align: left;
    color: #CFC7C2;
  
  }
  .twitter{
  
  }

  .blog{
    text-align: left;
    color: #CFC7C2;
  }
