  h1, h2 {
    font-weight: normal;
  }
  .hitokoto{
    padding: 1%;
    text-align: center;
    color: rgb(0,0,0);
  }

  .photo-block {
    position: relative;
    width: 100%;
    height: 400px; /* 任意の高さ */
    overflow: hidden;
    display: flex;
  }
  
  .photo {
    flex: 1;
    height: 100%;
    background-size: cover;
    transition: transform 0.5s ease;
  }
  
  .photo.left {
    background-color: black;
  }
  
  .photo.right {
    background-color: red;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .text {
    margin-bottom: 10px;
  }
  
  .button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .photo-block.hovered .photo.left {
    transform: translateX(-100%);
  }
  
  .photo-block.hovered .overlay {
    opacity: 1;
  }  



@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */

}