.web_all{
    width: 80%;
    margin:  0 auto;
  }

img{
  /* PCの右クリック禁止 */
  pointer-events: none;
    /* SPの長押し禁止 */
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-touch-callout:none;
    -moz-user-select:none;
    user-select:none;
}

.w_flex{
  display: flex;
  justify-content: center;
}

.w_hidari{
  width: 60%;
}

.w_migi{
  width: 40%;
}


@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  .w_flex{
    display: block;
    justify-content: center;
  }
  .w_hidari{
    width: 100%;
  }
  
  .w_migi{
    width: 100%;
  }
  
}