.y_box_main{
  margin: 2%;
  padding: 3%;
  border: 2px solid #2D2525;
  background-color: rgba(0,0,0,0.7);
  color: #CFC7C2;
  border-radius: 10px;
  justify-content: center;
  max-width: 100%;
  aspect-ratio: 16 / 9;
}

.y_box{
  margin: 2%;
  padding: 3%;
  border: 2px solid #2D2525;
  background-color: rgba(0,0,0,0.7);
  color: #CFC7C2;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  height: 50vh;
}

.y_hidari{
  width: 60%;
  padding: 20px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}

.y_migi{
  width: 40%;
  padding: 20px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

iframe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  .y_box{
    display: block;
    justify-content: center;
  }
  .y_hidari{
    width: 100%;
  }
  
  .y_migi{
    width: 100%;
  }
  
}